.profile {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: inline-block;
  position: relative; 
}
.profile-details {
  width: 555px;
  height: 60px;
  background-color: #d1c4e9; 
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
.profile-details::after {
  content: "";
  display: table;
  clear: both;
}
.pic,
.info,
.heart-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  text-decoration: none !important;
}
.pic {
  background-image: url('제리프로필.png');
  background-color: white;
  border: 1px solid gray;
  border-radius: 50%;
  height: 50px;
  padding: 0;
  color: black;
  width: 50px;
  float: left;
  margin-left: 20px;
}
.info {
  background-color: #b39ddb;
  border: 1px solid gray;
  height: 50px;
  padding: 0;
  border-radius: 1.0rem;
  width: 200px;
  text-align: center;
  line-height: 50px;
  float: left;
  margin-left: 10px;
}
.heart-icon {
  width: 50px; 
  height: 50px;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 50%;
  text-align: center;
  line-height: 50px; /* 수직 중앙 정렬 */
  float: left;
  margin-left: 10px;
  transition: transform 0.3s ease; /* 트랜지션 효과 추가 */
}
.heart-icon:hover {
  cursor: pointer;
  transform: scale(1.05); /* 마우스를 올렸을 때 확대 */
}
.heart-icon:active{
  box-shadow:1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:1px;
}
.heart-icon.clicked {
  color: red; /* 클릭된 상태일 때 색상 변경 */
}
.saved-posts,
.my-posts,
.tags {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}
.my-posts, .saved-posts {
  width: 48%; /* 내 게시물과 찜한 게시물이 동일한 너비를 가지도록 설정 */
  height: 400px;
}
.saved-posts {
  background-color: #d1c4e9;
  float: right;
}
.my-posts {
  background-color: #b39ddb; 
  float: left;
}
.btn-right1,
.btn-right2{
  background-color: #e67e22;
  color: white;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* 절대 위치 설정 */
  width: 144px !important;
}
.btn-right1 {
  right: 20px; /* 부모 요소의 오른쪽 끝에서 20px만큼 왼쪽으로 이동 */
  top: 20px; /* 부모 요소의 위쪽에서 20px만큼 아래쪽으로 이동 */
  
}
.btn-right2 {
  right: 165px; 
  top: 20px;
}
.posts-container {
  display: flex;
  justify-content: space-between;
}
.post-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.post-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}
.post-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.post-item:last-child {
  border-bottom: none;
}
.tags {
  background-color: #e57373;
}
.tags li {
  list-style-type: none;
  display: inline-block; 
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}