.profile {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  position: relative; 
  margin-top: 30px;
  margin-left: 200px;
  margin-bottom:80px;
}
.profile-details {
  width: 49.5%;
  height: 60px;
  background-color: #f9f9f9;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px soild gray;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
.profile-details::after {
  content: "";
  display: table;
  clear: both;
}
.pic,
.info,
.heart-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
  text-decoration: none !important;
}

.info-post {
  font-size:30px;
 font-family:'YeojuCeramic';
}

.post-title{
   text-align:center;
   font-size:20px;
   font-family:'YeojuCeramic';
}
.pic {
  background-color: white;
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  padding: 0;
  color: black;
  width: 50px;
  float: left;
  margin-left: 20px;
}

.info {
  background-color: #F0F0F0;
  border: 1px solid white;
  height: 50px;
  padding: 0;
  border-radius: 1.0rem;
  width: 200px;
  text-align: center;
  line-height: 50px;
  float: left;
  margin-left: 10px;
  color: white;
  font-family:'YeojuCeramic';
}
.heart-icon {
  background-color: #F0F0F0;
  width: 50px; 
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px; /* 수직 중앙 정렬 */
  float: left;
  margin-left: 10px;
  transition: transform 0.3s ease; /* 트랜지션 효과 추가 */
}
.heart-icon:hover {
  cursor: pointer;
  transform: scale(1.05); /* 마우스를 올렸을 때 확대 */
}
.heart-icon:active{
  box-shadow:1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:1px;
}
.heart-icon.clicked {
  color: pink; 
}
.saved-posts,
.my-posts,
.tags {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
}
.my-posts, .saved-posts {
  width: 100px;
  height: 410px; 
} 

.saved-posts {
 background-color: #f9f9f9;
 flex: 1;
 float: right;
 border: 2px soild gray;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 color: gray;
 overflow-y: auto;
}
.my-posts {
 background-color: #f9f9f9;
 flex: 1;
 float: left;
 border: 2px soild gray;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 color: gray;
 overflow-y:auto;
}
.btn-right1,
.btn-right2{
  background: linear-gradient(45deg, #746EF4, #FF66C3);
  color: white;
  border: solid white 0.1px;
  padding: 0.2em 0;
  border-radius: 40px;
  margin-top: 0.2em;
  margin-bottom: 1em; 
  margin-right:3px;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "YeojuCeramic";
  text-decoration: none; 
  position: absolute; 
  width: 120px ;
}
.btn-right1 {
  right: 20px; 
  top: 20px; 
}
.btn-right2 {
  right: 165px; 
  top: 20px;
}
.posts-container {
  display: flex;
  justify-content: space-between;
}
.post-list {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.post-content {
  border: 2px solid gray;
  border-radius: 5px;
  margin-top: 10px;
}
.post-item {
  padding: 10px;
  height:100px;
  border-bottom: 2px solid gray;
}
.post-item:last-child {
  border-bottom: none;
}
.tags {
  color: #5E5E5E;
  background-color:  #F0F0F0;
  height: 100px;
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tags li {
  list-style-type: none;
  display: inline-block; 
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f9f9f9;
  color: gray
 }
 .tags li:hover{
  transform: scale(1.1);
 }
a{
   text-decoration: none !important;
   color: gray !important;
}
