<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fullstack.semiproject.board.mapper.BoardMapper">
	
	<resultMap id="boardResultMap" type="com.fullstack.semiproject.board.dto.BoardDto">
		<id property="board_no" column="board_no" />
		<result property="board_title" column="board_title" />
		<result property="board_content" column="board_content" />
		<result property="board_category" column="board_category" />
		<result property="board_writeday" column="board_writeday" />
		<result property="board_views" column="board_views" />
		<result property="boardrepl_cnt" column="boardrepl_cnt" />
		<result property="author_no" column="author_no" />
		<result property="author_my_no" column="author_my_no" />
		<result property="board_report" column="board_report" />
		<result property="ispost" column="ispost" />
		<result property="cboard_no" column="cboard_no" />
		<result property="cboard_tags" column="cboard_tags" />
		<result property="recruit_done" column="recruit_done" />
		<result property="trip_start" column="trip_start" />
		<result property="trip_end" column="trip_end" />
		<result property="board_category" column="board_category" />
		<result property="board_no" column="board_no" />
	</resultMap>
	
	
	
	
	<select id="findAll" resultMap="boardResultMap">
		select * from board
	</select>

	<select id="findById" resultMap="boardResultMap">
		select * from board where board_no = #{board_no}
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="board_no">
		insert into board
		(board_title, board_content, board_category,
		board_writeday, author_no, author_my_no) values
		(#{board_title},#{board_content},#{board_category}, #{board_writeday}, #{author_no}, #{author_my_no})
	</insert>

	<update id="update">
		UPDATE recruitboard AS r
		INNER JOIN board AS b ON r.board_no = b.board_no
		SET r.recruit_done = #{recruit_done},
    	r.trip_start = #{trip_start},
    	r.trip_end = #{trip_end},
    	b.board_title = #{board_title},
    	b.board_content = #{board_content}
		WHERE b.board_no = #{board_no}
	</update>

	<delete id="delete">
		DELETE FROM board WHERE board_no = #{board_no}
	</delete>
	
	
</mapper>