.message-list-container {
  margin-top: 20px;
}

.chat-list-box {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.chat-list-box:hover {
  background-color: #f0f0f0;
}

.chat-list {
  justify-content: space-between;
}

.chat-ib {
  flex-direction: column;
}

.chat-ib h5 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.chat-ib p {
  font-size: 14px;
  color: #666;
}

.message-content {
  margin-top: 1px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.chat-container {
  padding-bottom: 7px;
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.chat-sender {
  text-align: left !important;
  font-size: 1.5em; /* sender 크기 크게 */
  margin-right: 20px; /* sender와 date 사이 간격 조정 */
}

.chat-date {
  text-align: right !important;
  font-size: 0.8em; /* date 크기 작게 */
}

.message-content {
  padding: 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-top: 0.01px;
}